.bg{
    background-image: url(../images/food.jpg);
    background-size: cover;
}

.box{
    width: 330px;
    padding: 2rem;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.237);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

h1{
    font-size: 2rem;
    color: #07001f;
    margin-bottom: 1.2rem;
}

form input{
    width: 92%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom:10px;
    border-radius:20px;
    background: #e4e4e4;
}

form select{
    width: 104%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 15px;
    margin-bottom:10px;
    border-radius:20px;
    background: #e4e4e4;
    /* color: #746a6a; */
}

select:hover{
    cursor: pointer;
}

.button{
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 91%;
    color:#fff;
    background-color: rgb(17, 107, 143);
}

button:hover{
    background: rgba(17, 107, 143, 0.877);
}

input:focus{
    border: 1px solid rgb(192, 192, 192);
}

.terms{
    margin-top: 0.2rem;
}

.terms input{
    height: 1em;
    width: 1em;
    vertical-align: middle;
    cursor: pointer;
}

.terms label{
    font-size: 0.7rem;
}

.terms a{
    color: rgb(17, 107, 143);
    text-decoration: none;
}
.member{
    font-size: 0.8rem;
    margin-top: 1.4rem;
    color: #636363;
}

.member a{
    color: rgb(17,107,143);
    text-decoration: none;
}

.recover{
    text-align: right;
    font-size: 0.7rem;
    margin: 0.3rem 1.4rem 0 0;
}

.recover a{
    text-decoration: none;
    color: #464647;
}

.btn{
  text-align: right;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 15px;
  border-radius: 50px;
  font-size: 12px;
  
  cursor: pointer;
}

.btn:hover{
    background: rgba(17, 107, 143, 0.877);
}

.boxs{
    color: white;
    width: 330px;
    padding: 2rem 1rem;
    margin: 50px auto;
    background-color: transparent;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

h1{
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 color:rgb(255, 255, 255);
 font-size: xx-large;
 font-weight: bold;
}